.portfolio__container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.swiper {
    width: 60%;
    height: 100%;
    cursor: move;
}

.swiper-slide {
    text-align: center;
    font-size: 16px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__container-image {
    display: block;
    object-fit: contain;
}

.portfolio__container-image img {
    height: 25rem;
}

#portfolio-image {
    border-radius: 1.5rem;
}

.project_card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    height: 15rem;
    width: 20rem;
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    justify-content: center;
    box-shadow: 10px 5px 5px 5px var(--color-primary-variant);
}

.portfolio__item h3 {
    margin: .5rem 0 0 0;
}

.portfolio__item p {
    margin: 0 0 .5rem 0;
}

.portfolio__item-title {
    text-align: center;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.portfolio__item-description {
    font-style: italic;
    font-size: small;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}