.portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    justify-content: center;
    box-shadow: 10px 5px 5px 5px var(--color-primary-variant);
}

.portfolio__item-img {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item img {
    height: 15rem;
}

.portfolio__item h3 {
    margin: .5rem 0 0 0;
}

.portfolio__item p {
    margin: 0 0 .5rem 0;
}

.portfolio__item-title {
    text-align: center;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}