header {
    padding: 5rem 0 1rem;
    overflow: hidden;
    height: 100%;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* =============== CTA =============== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =============== HEADER SOCIALS =============== */
.header__socials > a {
    color: var(--color-bg-variant);
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 10rem;
}

.header__socials:after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-bg-variant);
}

/* =============== ME =============== */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: relative;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    overflow: hidden;
    border-radius: 12rem 12rem 0 0;
    box-shadow: 10px 5px 5px 5px var(--color-bg-variant);
}

img {
    height: 100%;
}

/* =============== SCROLL DOWN =============== */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 16rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--color-bg-variant);
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {   
    .header__socials,
    .scroll__down {
        display: none;
    }
}

